<div class="wrapper wrapper-content animated fadeInRight" ng-controller="publicCtrl">
    <div class="row">
        <div class="col-lg-4">
            <div class="ibox">
                <div class="ibox-title">
                    <span class="label label-warning pull-right">即将结束</span>
                    <h5>转发微博有奖活动</h5>
                </div>
                <div class="ibox-content">
                    <p>小e送福利正在进行中！有兴趣的小伙伴赶紧来参加哦~活动入口：O网页链接活动将在2017年4月29日的上午11时结束（就是明天！）</p>
                    <p>~ 届时将由@微博抽奖平台 抽出3名幸运的小伙伴儿！获取价值279元UA训练衣（女款颜色随机）。​​​​</p>

                    <div style="height:200px; overflow: hidden">
                        <img class="img-responsive m-t-md m-b-md" src="/demo/img/example/1.png">
                    </div>

                    <h5>最近参与活动的人</h5>
                    <div class="team-members m-t-sm">
                        <a href="#"><img alt="member" class="img-circle" src="/demo/img/a1.jpg"></a>
                        <a href="#"><img alt="member" class="img-circle" src="/demo/img/a2.jpg"></a>
                        <a href="#"><img alt="member" class="img-circle" src="/demo/img/a3.jpg"></a>
                        <a href="#"><img alt="member" class="img-circle" src="/demo/img/a5.jpg"></a>
                        <a href="#"><img alt="member" class="img-circle" src="/demo/img/a6.jpg"></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="ibox">
                <div class="ibox-title">
                    <span class="label label-primary pull-right">新</span>
                    <h5>直播活动预告</h5>
                </div>
                <div class="ibox-content">
                    <p>#直播预告# 假期的最后一天，你是在返程之路？还是宅家呢？五一的这个午后让小编给你点小惊喜！看看你能不能收到一份小幸运？！ ​​​​</p>
                    <p>在直播中被抽中获得【气象观测场拼图模型】一个！请在一周内私信联系我们领取奖品哦~  未来我们会频繁地与大家直播互动！</p>

                    <div style="height:200px; overflow: hidden">
                        <img class="img-responsive m-t-md m-b-md" src="/demo/img/example/2.png">
                    </div>

                    <h5>最近参与活动的人</h5>
                    <div class="team-members m-t-sm">
                        <a href="#"><img alt="member" class="img-circle" src="/demo/img/a3.jpg"></a>
                        <a href="#"><img alt="member" class="img-circle" src="/demo/img/a4.jpg"></a>
                        <a href="#"><img alt="member" class="img-circle" src="/demo/img/a1.jpg"></a>
                        <a href="#"><img alt="member" class="img-circle" src="/demo/img/a5.jpg"></a>
                        <a href="#"><img alt="member" class="img-circle" src="/demo/img/a6.jpg"></a>
                        <a href="#"><img alt="member" class="img-circle" src="/demo/img/a8.jpg"></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="ibox">
                <div class="ibox-title">
                    <span class="label label-primary pull-right">新</span>
                    <h5>3.23世界气象日活动</h5>
                </div>
                <div class="ibox-content">
                    <p>2017年世界气象日之际，进一步宣传普及气象知识，丰富市民科普活动，引导公众关心气象、理解气象和应用气象。</p>
                    <p>现定于3月18日（星期六）上午举行上海市气象局气象业务工作区对公众开放活动。在此期间，上海市气象局、上海市气象科普教育基地、徐家汇气象观测场将对公众开放。</p>

                    <div style="height:200px; overflow: hidden">
                        <img class="img-responsive m-t-md m-b-md" src="/demo/img/example/3.png">
                    </div>

                    <h5>最近参与活动的人</h5>
                    <div class="team-members m-t-sm">
                        <a href="#"><img alt="member" class="img-circle" src="/demo/img/a3.jpg"></a>
                        <a href="#"><img alt="member" class="img-circle" src="/demo/img/a4.jpg"></a>
                        <a href="#"><img alt="member" class="img-circle" src="/demo/img/a1.jpg"></a>
                        <a href="#"><img alt="member" class="img-circle" src="/demo/img/a5.jpg"></a>
                        <a href="#"><img alt="member" class="img-circle" src="/demo/img/a6.jpg"></a>
                        <a href="#"><img alt="member" class="img-circle" src="/demo/img/a8.jpg"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>防灾减灾日</h5>
                </div>
                <div class="ibox-content">
                    <p>#防灾减灾日# 今年5月12日是我国第九个全国防灾减灾日。今年全国防灾减灾日主题是“减轻社区灾害风险，提升基层减灾能力”。火灾是社区生活中常碰到的灾害之一，大家来了解一下火灾逃生的知识吧！ </p>
                    <img class="img-responsive m-t-md m-b-md" src="/demo/img/example/6.png">
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>母亲节快乐</h5>
                </div>
                <div class="ibox-content">
                    <p>#母亲节快乐# 5月14日就是母亲节了！小编小时候早上去上学，妈妈最关心的就是天气冷不冷，穿得少不少，下雨天套鞋穿了伐、雨伞带了伐。母亲节快到了，小编也特地为妈妈报一下天气。大家要不要来留个言，一起来关心下妈妈的冷暖吧！</p>
                    <img class="img-responsive m-t-md m-b-md" src="/demo/img/example/7.png">
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>小e带你看气象主播的日常</h5>
                </div>
                <div class="ibox-content">
                    <p>#小e带你看气象主播的日常# 还记得今天下午我们的美女气象主播@王耔晔_子晔请大家一起帮着挑出镜的衣服嘛？你给她挑的裙子，快看看效果怎么样~ 
                        如何看高清节目？节目的播出时间地点？可要好好看这个视频哦~
                    </p>
                    <img class="img-responsive m-t-md m-b-md" src="/demo/img/example/8.png">
                </div>
            </div>
        </div>
    </div>

    <div class="row" ng-controller="proCtrl as chart">
        <div class="col-lg-6">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox">
                        <div class="ibox-title">
                            <h5>历史查询</h5>
                        </div>
                        <div class="ibox-content">
                            <table class="table">
                                <tr>
                                    <td>
                                        <select place-holder="站点选择" class="form-control">
                                            <option value="">徐家汇站</option>
                                        </select>
                                    </td>
                                    <td>
                                        <input place-holder="开始日期" class="form-control" type="date">
                                    </td>
                                    <td>
                                        <input place-holder="结束日期" class="form-control" type="date">
                                    </td>
                                    <td>
                                        <button class="btn btn-primary btn-xs">
                                            <i class="fa fa-search m-r-xs"></i>查询
                                        </button>
                                    </td>
                                </tr>
                            </table>

                            <div class="flot-chart m-b-md">
                                <div flot class="flot-chart-content" dataset="chart.flotData2" options="chart.flotOptions2"></div>
                            </div>

                            <table class="table table-striped">
                                <tr>
                                    <td>
                                        <strong>最高值</strong>
                                    </td>
                                    <td>
                                        26.7℃
                                    </td>
                                    <td>
                                        <strong>最低值</strong>
                                    </td>
                                    <td>
                                        21.7℃
                                    </td>
                                    <td>
                                        <strong>平均值</strong>
                                    </td>
                                    <td>
                                        24.7℃
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox">
                        <div class="ibox-title">
                            <small class="pull-right">10月13日11时07分</small>
                            <h5>台风快讯</h5>
                        </div>
                        <div class="ibox-content">
                            <img class="img-responsive m-b-md" src="/demo/img/example/4.png">
                            <table class="table table-striped">
                                <tr><td>时间：</td><td>13日11时</td></tr>
                                <tr><td>中心位置：</td><td class="text-danger">北纬16.5度、东经109.3度</td></tr>
                                <tr><td>强度等级：</td><td class="text-danger">热带低压</td></tr>
                                <tr><td>最大风力：</td><td class="text-danger">7级，15 米/秒（约 54 公里/时）</td></tr>
                                <tr><td>中心气压：</td><td>1002 hPa</td></tr>
                                <tr><td>参考位置：</td><td>距离海南省三亚市偏南方向195公里的南海中西部海面上。</td></tr>
                                <tr><td>预报结论：</td><td>热带低压将以每小时15公里的速度向偏西方向移动，强度维持。</td></tr>
                                <tr><td colspan="2">（下次更新时间为13日14时30分）</td></tr>
                            </table>

                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-lg-6">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox">
                        <div class="ibox-title">
                            <small class="pull-right">最近更新时间: 2017-07-10</small>
                            <h5>卫星云图</h5>
                        </div>
                        <div class="ibox-content">
                            <img class="img-responsive m-b-md" src="/demo/img/example/5.jpg">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div ng-init="picNum = 1" class="ibox">
                        <div class="ibox-title">
                            <div class="btn-group btn-group-xs pull-right">
                                <button ng-class="{'active': picNum == 1}" class="btn btn-white" ng-click="picNum = 1">能见度</button>
                                <button ng-class="{'active': picNum == 2}" class="btn btn-white" ng-click="picNum = 2">温度</button>
                                <button ng-class="{'active': picNum == 3}" class="btn btn-white" ng-click="picNum = 3">相对湿度</button>
                                <button ng-class="{'active': picNum == 4}" class="btn btn-white" ng-click="picNum = 4">雨量</button>
                            </div>

                            <h5>要素全景</h5>
                        </div>
                        <div class="ibox-content">
                            <small class="m-b-sm">最近更新时间: 2017-07-10</small>
                            <img class="img-responsive m-b-md" src="/demo/img/example/case/{{picNum}}.png">
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>

</div>